<div class="bg-about-img">
  <div class="bg-d1">
    <div class="container" style="padding-top:120px;">
      <h1 id="heading" class="text-dark mb-3 text-center headings-mono p-3" style="display: none;">SilimaSoftware</h1>
      <div class="fb-container text-dark">
        <div class="fb-item p-3">
          <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">Who?</h1>
          <div style="position: relative; z-index: 2;" class="text-white bg-obs text-center shadow  p-3">
            Founded in 2021, SilimaSoftware is a small South African start-up focused on building meaningful software
            products and services. Being a small team of local developers primarily working on core service offerings,
            we occasionally outsource freelancer developers for larger projects.
          </div>
        </div>
        <div class="fb-item p-3">
        </div>
      </div>
      <div class="fb-container text-dark">
        <div class="fb-item p-3">
        </div>
        <div class="fb-item p-3">
          <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">Why?</h1>
          <div style="position: relative; z-index: 2;" class="text-white bg-obs text-center shadow  p-3">
            Our grand plan is to design and create an end-to-end general solution that encompasses all elements of
            DevOps and the Software development lifecycle into one glorious, automated hosting platform. One platform to
            rule them all. In addition to building our products, we offer our development services to you.
          </div>
        </div>
      </div>
      <div class="fb-container text-dark" style="padding-bottom:120px;">
        <div class="fb-item p-3">
          <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">What?</h1>
          <div style="position: relative; z-index: 2;" class="text-white bg-obs text-center shadow  p-3">
            You might be thinking, what can we do for you? Implementing Agile DevOps methodologies allows us to keep
            you, the client, in the loop and work closely at every phase of the development lifecycle. Additionally,
            continue to improve and grow solutions with the ever-evolving business requirements.
          </div>
        </div>
        <div class="fb-item p-3">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top:20px;">
  <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-3">How?</h1>
  <div class="fb-container">
    <div class="fb-item-wide text-center shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-solid fa-code fa-2xl"></i> Software
          Development
        </h2>
        <div class="p-3">
          Python is our choice of language, using frameworks such as Django, Flask, and FastAPI to build secure
          scalable websites, web applications and APIs. The unmistakable choices for Web UI are JavaScript or
          jQuery. Perhaps React depending on the size, scale, and type of project.
        </div>
      </div>
    </div>
    <div class="fb-item-products text-center  shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-solid fa-database fa-2xl"></i> Database
        </h2>
        <div class="p-3">
          Postgresql the RDBMS that could. Furthermore considering the benefits of using Postgresql with Djangos
          built-in object-relational mapping it was a no-brainer.
        </div>
      </div>
    </div>
    <div class="fb-item-products text-center  shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-jenkins fa-2xl"></i> CI/CD
        </h2>
        <div class="p-3">
          Distributed Jenkins build nodes running in containers building containers. Using pipeline scripts to
          define builds, testing, and deployments.
        </div>
      </div>
    </div>
    <div class="fb-item-wide text-center  shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-docker fa-2xl"></i>
          Containers
        </h2>
        <div class="p-3">
          Containerize all the things. We love Containers. Using tools like Docker, Traefik, Nginx, and others
          to manage containers in production securely has never been this simple. We have deployed our
          containers on a range of virtual machine vendors. If it runs Linux chances are it
          will work.
        </div>
      </div>
    </div>
  </div>
</div>