<div class="bg-about-img">
  <div class="bg-d1">
    <div class="container" style="padding-top:120px;">
      <h1 id="heading" class="text-dark mb-3 text-center headings-mono p-3" style="display: none;">SilimaSoftware</h1>
      <div class="fb-container text-dark">
        <div class="fb-item p-3">
          <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">Why we exist</h1>
          <div style="position: relative; z-index: 2;" class="text-white bg-obs text-center shadow  p-3">
            Founded in late 2021 to produce software as a service and offer development as a service to startups and
            growing companies. We combine open source technology and custom development designed to manage and maintain
            your project from concept to deployment. Our mission is to provide inclusivity to all sorts of businesses.
            Affordability is the key. Software development is expensive and time-consuming, but it doesn't always have
            to be.
          </div>
        </div>
        <div class="fb-item p-3">
        </div>
      </div>
      <div class="fb-container text-dark" style="padding-bottom:120px;">
        <div class="fb-item p-3">
        </div>
        <div class="fb-item p-3">
          <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-1">What we do</h1>
          <div style="position: relative; z-index: 2;" class="text-white bg-obs text-center shadow  p-3">

            We go beyond designing and building software. Implementing Agile & DevOps methodologies allows us to keep
            you in the loop, working closely at every step of the development cycle. Including after deployment, we
            continue to improve solutions alongside your evolving business requirements. We can provide rapid
            prototyping and secure scalable products without much hassle. Considerable time and money saved while still
            providing you with the highest value.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top:40px;">
  <h1 id="heading" class="text-dark mb-3 text-center text-white headings-mono p-3">How the magic happens</h1>
  <h4 class="text-dark mb-3 text-center text-white headings-mono">Our technology stack</h4>
  <div class="fb-container">
    <div class="fb-item-wide text-center shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-solid fa-code fa-2xl"></i> Software
          Development
        </h2>
        <div class="p-3">
          Python is our choice of language, using frameworks such as Django, Flask, and FastAPI to build secure
          scalable websites, web applications and APIs. The unmistakable choices for Web UI are JavaScript or
          jQuery. Perhaps React depending on the size, scale, and type of project.
        </div>
      </div>
    </div>
    <div class="fb-item-products text-center  shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-solid fa-database fa-2xl"></i> Database
        </h2>
        <div class="p-3">
          Postgresql the RDBMS that could. Furthermore considering all the benefits of using Postgresql with Djangos
          built-in object-relational mapping, it was a no-brainer.
        </div>
      </div>
    </div>
    <div class="fb-item-products text-center  shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-jenkins fa-2xl"></i> CI/CD
        </h2>
        <div class="p-3">
          Distributed Jenkins build nodes running in containers, building containers. Using pipeline scripts to
          define builds, testing, and deployments.
        </div>
      </div>
    </div>
    <div class="fb-item-wide text-center  shadow p-2 bg-light text-dark" style="z-index: 1;">
      <div class="card-body">
        <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-docker fa-2xl"></i>
          Containers
        </h2>
        <div class="p-3">
          Containerize all the things. We love Containers. Using tools like Docker, Traefik, Nginx, and others
          to manage containers in production securely has never been this simple. We have deployed our
          containers on a range of virtual machine vendors. If it runs Linux, chances are it
          will work.
        </div>
      </div>
    </div>
  </div>
</div>