<div class="bg-img" style="padding-top:90px;">
  <h1 id="heading" class="text-dark mb-3 text-center headings-mono p-3" style="display: none;">DOCHOST</h1>

    <div class="fb-container text-dark">
      <div class="fb-item-thin">
      </div>
      <div class="fb-item">
        <br>
        <div style="position: relative; z-index: 2;" class="rounded text-light bg-d2 text-center shadow  p-2">
          Founded in 2022, SilimaSoftware is a new start-up. Our focus is on building meaningful products that bring
          maximum value to the end-users. We don't just build websites and software. We solve problems and provide
          tailored solutions that integrate seamlessly into your business processes.
        </div>
        <br>
        <div class="fb-item">
          <img class="center" type="image/svg"
          src="{% static 'svg/laptop-code-solid.svg' %}" />
        </div>
      </div>
    </div>


    <div class="fb-container text-dark">
      <div class="fb-item">
      </div>
      <div class="fb-item">
        <br>
        <div style="position: relative; z-index: 2;" class="rounded text-center bg-d2 text-light shadow p-2">
          We find it imperative to stay on the cutting edge of tech trends, testing and experimenting with the latest
          libraries and frameworks to find the best 'tool' for the job. With a dynamic team of freelance developers
          available, we will always have someone on hand to solve that pesky little problem.
        </div>
        <br>
        <div class="fb-item">
          <img class="center" type="image/svg"
          src="{% static 'svg/laptop-code-solid.svg' %}" />
        </div>
      </div>
    </div>


</div>