<div class="bg-imgb">
  <div class="text-center" style="width=100vh;">
    <div class="text-light" style="padding-top: 200px;">
      <h1 id="heading" class="mb-3 headings-mono">Blog</h1>
      <br>
      <h4 id="sub" class="mb-3 headings-mono">
        Select a topic to get started
      </h4>
    </div>
  </div>
</div>
<div class="container-fluid text-center bg-d1 p-2">
  <div class="fb-container">
    <div class="fb-item">
      <div id="post_wrapper">
        {% for post in posts %}
        {{ post.title }}
        {% endfor %}
      </div>
    </div>
    <div class="fb-item-thin">
      {% for r_post in latest_posts %}
      {{ post.title }}
      {% endfor %}
    </div>
  </div>