<div class="bg-home-img">
  <div class="bg-d1" style="padding-top: 140px; padding-bottom:120px; ">
    <div class="text-center text-white">
      <h1 class="headings-mono">SilimaSoftware</h1>
    </div>
    <div class="text-center p-4 d-flex ">
      <div class="col-lg-12 col-md-12 p-4">
        <h4 class="p-2 text-white headings-mono">
          Software Development & Consulting<br>
        </h4>
        <br>
        <p class="text-white headings-mono">
          Websites, Web-Apps, Desktop & Mobile<br>
          We build secure, scalable solutions for startups, small and medium businesses. <br>
        </p>
        <br> <br>
        <button style="position: relative; z-index: 1;  width:269px; height: 240px;" type="button"
          class="shadow btn btn-outline-light bg-obs big-xl" data-bs-toggle="modal" data-bs-target="#service_modal"> <i
            class="fa-solid fa-hat-wizard"></i><br> Services
        </button>

        <button style="position: relative; z-index: 1; width:269px; height: 240px;" type="button"
          class="shadow btn btn-outline-light bg-obs big-xl" data-bs-toggle="modal" data-bs-target="#software_modal">
          <i class="fa-solid fa-bacon"></i> <br> Portfolio
        </button>

        <button style="position: relative; z-index: 1;  width:269px; height: 240px;" type="button"
          class="shadow btn btn-outline-light bg-obs big-xl" data-bs-toggle="modal" data-bs-target="#stack_modal">
          <i class="fa-solid fa-layer-group"></i> <br> Stack
        </button>
      </div>
    </div>
  </div>
</div>



{% include "./services_modal.html" %}
{% include "./portfolio_modal.html" %}
{% include "./stack_modal.html" %}