<div class="modal fade" id="software_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <button type="button" class="close btn btn-lg btn-outline-light float-right" data-bs-dismiss="modal"
      aria-label="Close" style="z-index: 9999;">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content bg-invs border-0">
      <div class="modal-body">
        <div class="container">
          <div class="fb-container">
            <div class="fb-item-portfolio bg-light text-center text-dark grow">
              <div class="card-body">
                <h2 class="card-title text-center mb-3 headings-mono">Inventory Management System</h2>
                <img class="img-fluid img-thumbnail border border-dark" type="image/png" src="{% static 'ims.png' %}" />
              </div>
            </div>
            <div class="fb-item-portfolio bg-light text-center text-dark grow">
              <div class="card-body">
                <h2 class="card-title text-center mb-3 headings-mono">Auction-House Dataset & Analytics</h2>
                <img class="img-fluid img-thumbnail border border-dark" type="image/png"
                  src="{% static 'ahtk.png' %}" />
              </div>
            </div>
            <div class="fb-item-portfolio bg-light text-center text-dark grow">
              <div class="card-body">
                <h2 class="card-title text-center mb-3 headings-mono">Website for Import/Export Company</h2>
                <img class="img-fluid img-thumbnail border border-dark" type="image/png"
                  src="{% static 'website.png' %}" />
              </div>
            </div>
            <div class="fb-item-portfolio bg-light text-center text-dark grow">
              <div class="card-body">
                <h2 class="card-title text-center mb-3 headings-mono">Notification Management System</h2>
                <img class="img-fluid img-thumbnail border border-dark" type="image/png"
                  src="{% static 'subnotify.png' %}" />
              </div>
            </div>
            <div class="fb-item-portfolio bg-light text-center text-dark grow">
              <div class="card-body">
                <h2 class="card-title text-center mb-3 headings-mono">Website for Hosting Platform Storefront</h2>
                <img class="img-fluid img-thumbnail border border-dark" type="image/png"
                  src="{% static 'dochost.png' %}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>