<div class="modal fade" id="stack_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <button type="button" class="close btn btn-lg btn-outline-light float-right" data-bs-dismiss="modal"
      aria-label="Close" style="z-index: 9999;">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content bg-invs border-0">
      <div class="modal-body">
        <div class="container">
          <div class="fb-container">
            <div class="fb-item-products text-center  shadow p-2 bg-light text-dark"
              style="position: relative; z-index: 1;">
              <div class="card-body">
                <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-python fa-2xl"></i> Python
                </h2>
                <div class="p-3">
                  Python is our first choice of language using frameworks such as Django, Flask, and FastAPI to build
                  secure scalable websites and web applications.
                </div>
              </div>
            </div>
            <div class="fb-item-products text-center  shadow p-2 bg-light text-dark"
              style="position: relative; z-index: 1;">
              <div class="card-body">
                <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-js fa-2xl"></i> JavaScript
                </h2>
                <div class="p-3">
                  The obvious choices for Web are JavaScript and jQuery or React depending on the size, scale and type
                  of project. Other options are available.
                </div>
              </div>
            </div>
            <div class="fb-item-wide text-center  shadow p-2 bg-light text-dark"
              style="position: relative; z-index: 1;">
              <div class="card-body">
                <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-docker fa-2xl"></i> Docker
                </h2>
                <div class="p-3">
                  Containerize all the things. We love Containers. Using tools like Docker, Traefik, Nginx, and others
                  to manage containers in production securely has never been this simple. Read more about the benefits
                  of using.
                </div>
              </div>
            </div>
            <div class="fb-item-products text-center  shadow p-2 bg-light text-dark"
              style="position: relative; z-index: 1;">
              <div class="card-body">
                <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-jenkins fa-2xl"></i> Jenkins
                </h2>
                <div class="p-3">
                  Distributed Jenkins build nodes running in containers building containers.
                </div>
              </div>
            </div>
            <div class="fb-item-products text-center  shadow p-2 bg-light text-dark"
              style="position: relative; z-index: 1;">
              <div class="card-body">
                <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-github fa-2xl"></i> Github
                </h2>
                <div class="p-3">
                  Source control. What more can I say? Github it's free and it works greate.
                </div>
              </div>
            </div>
            <div class="fb-item-wide text-center  shadow p-2 bg-light text-dark"
              style="position: relative; z-index: 1;">
              <div class="card-body">
                <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-linux fa-2xl"></i> Linux</h2>
                <div class="p-3">
                  We have deployed our containers on a range of virtual machine vendors. If it runs Linux chances are it
                  will work.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>