<div class="modal fade" id="stack_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-invs border">
      <div class="modal-body">
        <div class="container">
          <div class="rounded">
            <div class="fb-container">
              <div class="fb-item-products text-center rounded shadow p-2 bg-light text-dark"
                style="position: relative; z-index: 1;">
                <div class="card-body">
                  <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-python fa-2xl"></i> Python
                  </h2>
                  <div class="p-3">
                    <a href="#">Python</a> is our language of choice with great frameworks like <a href="#">Django</a>, <a href="#">Flask</a>, <a
                      href="#">FastAPI</a>.
                  </div>
                </div>
              </div>
              <div class="fb-item-products text-center rounded shadow p-2 bg-light text-dark"
                style="position: relative; z-index: 1;">
                <div class="card-body">
                  <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-js fa-2xl"></i> JavaScript
                  </h2>
                  <div class="p-3">
                    Pure <a href="#">JavaScript</a> and <a href="#">jQuery</a> gets the job done. If not <a href="#">React & Django</a> work fairly well together.
                  </div>
                </div>
              </div>
              <div class="fb-item-wide text-center rounded shadow p-2 bg-light text-dark"
                style="position: relative; z-index: 1;">
                <div class="card-body">
                  <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-docker fa-2xl"></i> Docker
                  </h2>
                  <div class="p-3">
                    Containerize all the things. We love <a href="#">Containers</a>. Using tools like 
                    <a href="#">Docker</a>, <a href="#">Traefik</a>, <a href="#">Nginx</a>, and others managing containers in production securely has never been this simple.
                  </div>
                </div>
              </div>
              <div class="fb-item-products text-center rounded shadow p-2 bg-light text-dark"
                style="position: relative; z-index: 1;">
                <div class="card-body">
                  <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-jenkins fa-2xl"></i> Jenkins
                  </h2>
                  <div class="p-3">
                    Distributed <a href="#">Jenkins</a> build nodes running in containers building containers.
                  </div>
                </div>
              </div>
              <div class="fb-item-products text-center rounded shadow p-2 bg-light text-dark"
                style="position: relative; z-index: 1;">
                <div class="card-body">
                  <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-github fa-2xl"></i> Github
                  </h2>
                  <div class="p-3">
                    Source control. What more can I say. <a href="#">Github</a> it's free and it works greate.
                  </div>
                </div>
              </div>
              <div class="fb-item-wide text-center rounded shadow p-2 bg-light text-dark"
                style="position: relative; z-index: 1;">
                <div class="card-body">
                  <h2 class="card-title text-center headings-mono"><i class="fa-brands fa-linux fa-2xl"></i> Linux</h2>
                  <div class="p-3">
                    We have deployed our containers on range of vurtual mechine venders. If it runs <a href="#">Linux</a> chances are it will work.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>