<footer id="footer" class="text-center bg-d1 text-white p-0">
    <div class="container p-4">
        <div class="mb-4">
            <!-- Github -->
            <a style="position: relative; z-index: 2;" class="btn btn-outline-white text-white btn-floating m-1" href="https://github.com/silimasoftware"
                role="button">
                <i class="fa-brands fa-github-alt  fa-2xl"></i>
                <br>Check us out on Github
            </a>
        </div>
    </div>
    <div class="text-center p-3">
        <i class="far fa-copyright"></i> <a style="position: relative; z-index: 2;" class="text-white"
            href="https://silimasoftware.co.za">silimasoftware.co.za</a> 2021
    </div>
</footer>