<nav style="position: fixed; z-index: 5;" class="container-fluid navbar navbar-expand-md navbar-fixed-top text-uppercase text-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-controls="#main_nav">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="main_nav">
        <div class="nav nav_bg">
            <div class="dropdown">
                <a href="{% url 'silimasoftware' %}" type="button" class="nav-link nav_font dropbtn
                        {% if page == "home" %}nav_selected{% endif %}">
                    Silimasoftware
                </a>
                {% if page == "home" %}
                <div class="dropdown-content">
                    <a onclick="scrollToEle('#productsScroll')" type="button" class="nav-link nav_bg nav_font">
                        products <i class="fa-solid fa-server float-right"></i>
                    </a>
                    <a onclick="scrollToEle('#projectsScroll')" type="button" class="nav-link nav_bg nav_font">
                        Portfolio <i class="fa-solid fa-diagram-project float-right"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <a href="{% url 'silimasoftware' 'about' %}" class="nav-link nav_font
            {% if 'about' in request.path %}nav_selected{% endif %}">
                About
            </a>
            <a href="{% url 'silimasoftware' 'blog' %}" class="nav-link nav_font
            {% if 'blog' in request.path %}nav_selected{% endif %}">
                Blog
            </a>
            <a href="{% url 'silimasoftware' 'contact' %}" class="nav-link nav_font
            {% if 'contact' in request.path %}nav_selected{% endif %}">
                Contact
            </a>
        </div>        
    </div>
</nav>